
@font-face {
  font-family: 'TradeGothicLT-BoldCondTwenty';
  src: url('TradeGothicLT-BoldCondTwenty.eot?#iefix') format('embedded-opentype'),  url('TradeGothicLT-BoldCondTwenty.woff') format('woff'), url('TradeGothicLT-BoldCondTwenty.ttf')  format('truetype'), url('TradeGothicLT-BoldCondTwenty.svg#TradeGothicLT-BoldCondTwenty') format('svg');
  font-weight: normal;
  font-style: normal;
}
